@using ProgYourTime.Service
@{
    ViewData["Title"] = "";
}


<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>@Config.CompanyName</h2>
        <p>
            Не хватает времени на саморазвитие?<br />
            Присоединяйся!<br />
        </p>
        <ul class="actions special">
            <li><a href="#" class="button primary">Начать</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Узнать больше</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>
                Начни следить за своим развитием<br />
                <span style="color: coral">прямо сейчас!</span>
            </h2>
            <p>
                Больше нет оправданий. Действуй!<br />
                Опробуй то, на что не хватало времени!
            </p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-gem major style1"><span class="label">Lorem</span></span></li>
            <li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
            <li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="/images/pic1.jpg" alt="" /></div><div class="content">
            <h2>
                Удобный интерфейс
            </h2>
            <p>Поможет тебе удобно и быстро записать всю информацию.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic2.jpg" alt="" /></div><div class="content">
            <h2>
                Портативность
            </h2>
            <p>Добавляй записи где бы ты ни был.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic3.jpg" alt="" /></div><div class="content">
            <h2>
                Отслеживай<br />
                весь прогресс
            </h2>
            <p>Удобный и понятный график поможет тебе следить за твоими успехами.</p>
        </div>
    </section>
</section>


<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Начни прямо сейчас</h2>
            <p>Следи за своим временем легко и удобно.</p>
        </header>
        <ul class="actions stacked">
            <li><a href="#" class="button fit primary">Войти</a></li>
            <li><a href="#" class="button fit">Регистрация</a></li>

        </ul>
    </div>
</section>