<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("MetatagsPartial.cshtml")
    @await Html.PartialAsync("CssPartial.cshtml")
</head>

<body class="landing is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        @await Html.PartialAsync("HeaderPartial.cshtml")


        @RenderBody()

        <!-- Footer -->
        @await Html.PartialAsync("FooterPartial.cshtml")
    </div>

    <!--Scripts-->
    @await Html.PartialAsync("ScriptsPartial.cshtml")
</body>
</html>