<header id="header" class="alt">
    <h1><a href="#">@Config.CompanyName</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Меню</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a asp-controller="Account" asp-action="Login">Войти</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Зарегестрироваться</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>