@page
@{
}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body bgcolor="#2b343d">

        <div>
            <h2 style="color:white">Это персональная страница пользователя</h2>

            <h3 style="color:white">Вид деятельности:</h3>
            <input />
            <button>+</button>
        </div>
    </body>
</html>